@use '@/assets/scss/_functions.scss' as *;
@use '@/assets/scss/_mixins.scss' as *;

:root {
  --font-lora: 'Lora', serif;
  --font-haas-grot-disp-medium: 'HaasGrotDispMedium', sans-serif;
}

body {
  font-family: var(--font-haas-grot-disp-medium);
}

.H1 {
  font-family: var(--font-haas-grot-disp-medium);
  font-size: desktop-vw(136px);
  line-height: desktop-vw(132px);
  font-weight: 600;

  @include mobile {
    font-size: mobile-vw(64px);
    line-height: mobile-vw(64px);
  }
}

.H2 {
  font-family: var(--font-haas-grot-disp-medium);
  font-size: desktop-vw(72px);
  line-height: desktop-vw(76px);
  font-weight: 600;

  @include mobile {
    font-size: mobile-vw(40px);
    line-height: mobile-vw(48px);
  }
}

.H3 {
  font-family: var(--font-haas-grot-disp-medium);
  font-size: desktop-vw(48px);
  line-height: desktop-vw(52px);
  font-weight: 600;

  @include mobile {
    font-size: mobile-vw(32px);
    line-height: mobile-vw(40px);
  }
}

.P1 {
  font-family: var(--font-haas-grot-disp-medium);
  font-size: desktop-vw(20px);
  line-height: desktop-vw(24px);
  font-weight: 600;

  @include mobile {
    font-size: mobile-vw(14px);
    line-height: mobile-vw(18px);
  }
}

.P2 {
  // font-family: var(--font-lora);
  font-family: var(--font-haas-grot-disp-medium);
  font-size: desktop-vw(18px);
  line-height: desktop-vw(22px);
  font-weight: 400;

  @include mobile {
    font-size: mobile-vw(14px);
    line-height: mobile-vw(18px);
  }
}

.CTA-TEXT-XL {
  font-family: var(--font-haas-grot-disp-medium);
  font-size: desktop-vw(48px);
  line-height: desktop-vw(52px);
  font-weight: 600;

  @include mobile {
    font-size: mobile-vw(32px);
    line-height: mobile-vw(40px);
  }
}

.CTA-TEXT {
  font-family: var(--font-haas-grot-disp-medium);
  font-size: desktop-vw(20px);
  line-height: desktop-vw(24px);
  font-weight: 600;

  @include mobile {
    font-size: mobile-vw(14px);
    line-height: mobile-vw(18px);
  }
}
