@use '@/assets/scss/_functions.scss' as *;
@use '@/assets/scss/_mixins.scss' as *;

:root {
  --font-lora: 'Lora', serif;
  --font-haas-grot-disp-medium: 'HaasGrotDispMedium', sans-serif;
  --font-haas-grot-disp-regular: 'HaasGrotDispRegular', sans-serif;
  --font-haas-grot-disp-bold: 'HaasGrotDispBold', sans-serif;
}

body {
  font-family: var(--font-haas-grot-disp-medium);
}

.H1 {
  font-family: var(--font-haas-grot-disp-medium);
  font-size: desktop-vw(136px);
  line-height: desktop-vw(132px);
  font-weight: 600;

  @include mobile {
    font-size: mobile-vw(64px);
    line-height: mobile-vw(64px);
  }
}

.H2 {
  font-family: var(--font-haas-grot-disp-medium);
  font-size: desktop-vw(72px);
  line-height: desktop-vw(76px);
  font-weight: 600;

  @include mobile {
    font-size: mobile-vw(40px);
    line-height: mobile-vw(48px);
  }
}

.H3 {
  font-family: var(--font-haas-grot-disp-medium);
  font-size: desktop-vw(48px);
  line-height: desktop-vw(52px);
  font-weight: 600;

  @include mobile {
    font-size: mobile-vw(32px);
    line-height: mobile-vw(40px);
  }
}

.H4 {
  font-family: var(--font-haas-grot-disp-medium);
  font-size: desktop-vw(32px);
  line-height: desktop-vw(36px);
  font-weight: 600;

  @include mobile {
    font-size: mobile-vw(24px);
    line-height: mobile-vw(32px);
  }
}

.P1 {
  // S
  font-family: var(--font-haas-grot-disp-medium);
  font-size: desktop-vw(20px);
  line-height: desktop-vw(24px);
  font-weight: 600;

  @include mobile {
    font-size: mobile-vw(14px);
    line-height: mobile-vw(18px);
  }
}

.P2 {
  // XS
  font-family: var(--font-haas-grot-disp-medium);
  font-size: desktop-vw(18px);
  line-height: desktop-vw(22px);
  font-weight: 400;

  @include mobile {
    font-size: mobile-vw(14px);
    line-height: mobile-vw(18px);
  }
}

.P3 {
  // M
  font-family: var(--font-haas-grot-disp-medium);
  font-size: desktop-vw(24px);
  line-height: desktop-vw(32px);
  font-weight: 400;

  @include mobile {
    font-size: mobile-vw(18px);
    line-height: mobile-vw(22px);
  }
}

.P4 {
  // L
  font-family: var(--font-haas-grot-disp-medium);
  font-size: desktop-vw(32px);
  line-height: desktop-vw(40px);
  font-weight: 400;

  @include mobile {
    font-size: mobile-vw(20px);
    line-height: mobile-vw(26px);
  }
}

.CTA-TEXT-XL {
  font-family: var(--font-haas-grot-disp-medium);
  font-size: desktop-vw(48px);
  line-height: desktop-vw(52px);
  font-weight: 600;

  @include mobile {
    font-size: mobile-vw(32px);
    line-height: mobile-vw(40px);
  }
}

.LABEL-TEXT {
  font-family: var(--font-haas-grot-disp-regular);
  font-size: desktop-vw(12px);
  line-height: desktop-vw(16px);
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;

  @include mobile {
    font-size: mobile-vw(12px);
    line-height: mobile-vw(14px);
  }
}

.CTA-TEXT {
  font-family: var(--font-haas-grot-disp-medium);
  font-size: desktop-vw(20px);
  line-height: desktop-vw(24px);
  font-weight: 600;

  @include mobile {
    font-size: mobile-vw(14px);
    line-height: mobile-vw(18px);
  }
}

.bold-text {
  font-family: var(--font-haas-grot-disp-bold);
  font-weight: 700;
}

.regular-text {
  font-family: var(--font-haas-grot-disp-regular);
  font-weight: 500;
}
