/* Breakpoints */
$mobile-breakpoint: 800px;
$desktop-breakpoint: 1440px;

// Viewport Sizes
// $desktop-width: 1440px; //initial
// $desktop-height: 800px; // initial
$desktop-width: 1920px;
$desktop-height: 1080px;

$mobile-width: 393px;
$mobile-height: 852px;
