@use '@/assets/scss/reset';
@use '@/assets/scss/variables';
@use '@/assets/scss/functions';
@use '@/assets/scss/mixins';
@use '@/assets/scss/colors';
@use '@/assets/scss/debug';
@use '@/assets/scss/easings';
@use '@/assets/scss/utils';
// @use '@/assets/scss/scroll';
@use '@/assets/scss/font-style-classes';
@use '@/assets/scss/layout-main';

html {
  width: 100%;
  height: 100%;
  scrollbar-width: thin;
}

body {
  height: 100%;
  background-color: var(--c-beige-100);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;

  @include mobile {
    height: 100%;
  }
}

#__nuxt {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;

  @include mobile {
    height: 100%;
  }
}

*::selection {
  background-color: var(--c-red-1);
  color: var(--c-light-1);
}
