@use '@/assets/scss/reset';
@use '@/assets/scss/variables';
@use '@/assets/scss/functions';
@use '@/assets/scss/mixins';
@use '@/assets/scss/colors';
@use '@/assets/scss/debug';
@use '@/assets/scss/easings';
@use '@/assets/scss/utils';
@use '@/assets/scss/scroll';
@use '@/assets/scss/font-style-classes';
@use '@/assets/scss/layout-main';

html {
  width: 100%;
  scrollbar-width: thin;
}

body {
  background-color: var(--c-beige-100);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

#__nuxt {
  display: flex;
  flex-direction: column;
  width: 100%;
}

*::selection {
  background-color: var(--c-orange-40);
  color: var(--c-orange-100);
}

img {
  @include disable-draggable();

  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

button {
  cursor: pointer;
}
